.container {
  @apply fixed top-0 right-0 left-0 bottom-0 z-50 flex justify-center items-center;
}

.spinner {
  @apply w-16 h-16 border-8 rounded-full border-t-black border-b-black;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
