.dialogWrapper {
  @apply fixed flex justify-center items-center inset-0 overflow-hidden;
}

.dialogBackdrop {
  @apply fixed inset-0 bg-black opacity-70;
}

.dialogContainer {
  @apply relative z-50 bg-dark-1 w-full rounded-xl border border-dark-3 overflow-hidden;
}

.dialogHeader {
  @apply px-5 py-3.5 border-b border-b-dark-3 bg-dark-2 text-lg font-semibold absolute w-full;
}

.dialogBody {
  @apply px-5 py-3 pt-16 overflow-y-auto;
}

.dialogFooter {
  @apply px-5 py-4;
}

.close {
  @apply absolute right-4 top-5 text-white text-lg;
}

.sm {
  width: 25rem;
}

.md {
  width: 30rem;
}

.lg {
  width: 45rem;
}

.xl {
  width: 80%;
}
