@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-light-1 bg-black-default text-sm xl:text-base;
}

.page {
  @apply flex flex-col min-h-screen;
}

.main {
  @apply mt-24 relative w-full max-w-7xl mx-auto pb-10 pt-2 px-8;
}

.prevent-scroll {
  @apply overflow-hidden;
}

.toast {
  @apply min-h-0 bg-primary text-white rounded-lg shadow-none !important;
}

.notification-toast {
  @apply border border-dark-3 bg-dark-1 rounded-lg shadow-md leading-5 !important;
}

.Toastify__close-button {
  @apply !text-white !opacity-70;
}

.prose :where(code):not(:where([class~='not-prose'] *)) {
  @apply px-1.5 py-1 bg-dark-3 rounded font-normal;
}

/* .prose :where(code):not(:where([class~='not-prose'] *))::after,
.prose :where(code):not(:where([class~='not-prose'] *))::before {
  content: '';
} */

.prose :where(pre):not(:where([class~='not-prose'] *)),
.prose :where(p):not(:where([class~='not-prose'] *)) {
  line-height: 1.5;
}

.prose-pre\:text-white :is(:where(pre):not(:where([class~='not-prose'] *))) {
  flex: 1;
}

.prose :where(pre code):not(:where([class~='not-prose'] *)) {
  @apply !p-0 !bg-transparent;
}
